.container {
    margin: 0 auto 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.example-card {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.014);
}

.button {
    margin-right: 10px;
}

.image {
    max-width: 150px;
}