<div class="container">
    <div class="form" fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex>
            <mat-form-field appearance="outline">
                <mat-label>Введите почту</mat-label>
                <input matInput type="email" [(ngModel)]="form.email" required>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field appearance="outline">
                <mat-label>Введите ваше имя</mat-label>
                <input matInput type="fullNme" [(ngModel)]="form.fullName" required>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field appearance="outline">
                <mat-label>Введите пароль</mat-label>
                <input matInput type="password" [(ngModel)]="form.password" required>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-checkbox 
            class="example-margin">Я согласен с условиями пользовательского соглашения</mat-checkbox>
        </div>
        <div fxFlex>
            <button (click)="register()" mat-raised-button>Зарегистрироваться</button>
        </div>
        
    
    </div>
</div>
<ng-container *ngIf="register$ | async"></ng-container>
